* {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fffbf7;
  font-family: 'Open Sans', sans-serif;
}

.navContainer {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100%;
  padding: .5rem 0;
}

.logoAnchor {
  padding-left: 1rem;
  font-size: 1.25rem;
  color: #191918;
}

.navList {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.itemList {
  margin: 0 10px;
  color: #0f4b67;
  font-size: 16px;
  font-weight: 100;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1.3rem;
  gap: 1rem;
}

.signInAnchor {
  margin: 0 10px;
  padding: 0;
  color: #67b44b;
  font-size: 14px;
  font-weight: 400;
}

.navButton {
  height: 55px;
  padding: 12px 14px;
  background-color: #67b54b;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.mainTitle {
  color: #025157;
  font-family: 'Alegreya', serif;
  font-size: 60px;
  font-weight: 500;
  font-weight: 700;
  margin-bottom: 24px;
}

img {
  height: 4rem;
}

p {
  color: #46484c;
}

.promotional {
  color: #8b8b8bcc
}

button {
  color: #fff;
  background-color: #025157;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 285px;
}